body {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif !important;
}

header {
  margin-top: 56px;
}

section {
  padding: 60px 0;
}

.text-reset {
  text-decoration: none;
}

.text-reset:hover {
  text-decoration: underline;
}

/* .card-body p {
  min-height: 70px;
}

.card:hover {
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
} */

.card-title {
  font-weight: bold;
}

.card-img-top {
  height: 240px;
  object-fit: contain;
  background-color: #f8f9fa;
  padding: 10px;
}

.card-body p {
  min-height: 60px;
}

.card:hover {
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.footer .btn i {
  color: white !important;
}
